<h1>Posts</h1>

<p>You're about to get worded at. Enjoy!</p>

{{#each model as |post|}}
  <h3>{{post.title}}</h3>
  <p>{{post.content}}</p>
  <h4>Climbed with: {{post.partners}}</h4>
  <h4>Earworm: {{post.song}}</h4>
  <img src={{post.image}} alt={{post.title}} />
  <hr>
{{/each}}
